<ion-header class="custom-footer" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <h2>Team Information</h2>
    <div class="tournament-card">
      <div class="tournament-card-content">
        <div class="game-img">
          <ion-img src="{{ladderPostRequest.team.team_logo_url}}" class="img-fluid"></ion-img>
        </div>
        <div class="card-body">
          <div class="game-info">
            <h1 class="game-title">{{ ladderPostRequest.team.name }}</h1>
          </div>

          <p class="tournament-timing">
            <span>
              <ion-icon name="time-sharp"></ion-icon>
            </span>
            {{ ladderPostRequest.request_time }}
          </p>

          <div class="t-pricing">
            <p class="tournament-price">
              <span>
                <ion-icon name="card"></ion-icon>
              </span>
              {{ ladderPostRequest.ladder_post.host.name}}
            </p>
          </div>
          <div class="t-pricing">
            <p class="tournament-prize">
              <span>
                <ion-icon name="mail"></ion-icon>
              </span>
              {{ ladderPostRequest.ladder_post.host.email }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="registered-team-list">
      <h4>Team Members</h4>
      <div class="registered-teams" *ngFor="let u of ladderPostRequest.team.team_members">
        <div class="img">
          <img [src]="u.avatar_url" class="img-fluid" alt="">
        </div>
        <div class="w-100">
          <h1>
            {{ u.name }}
          </h1>
          <p>
            {{ u.email }}
          </p>
        </div>
      </div>
    </div>
  </main>
</ion-content>
