<ion-content class="content-inner-body">
  <ion-header>
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-text ion-text-start ion-no-padding ion-padding-start linear-wipe">my inivitation
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <main class="ion-padding-horizontal">
    <section class="tournament-list-section">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-virtual-scroll [items]="response" approxItemHeight="170px">
        <ion-row *virtualItem="let item; let itemBounds = bounds;">
          <ion-col size="12">
            <div class="tournament-card">
              <div class="tournament-card-content">
                <div class="game-img">
                  <ion-img src="../../../assets/fifa.jpg" class="img-fluid"></ion-img>
                </div>
                <div class="card-body">
                  <div class="game-info">
                    <h1 class="game-title">{{item.team.name}}</h1>
                  </div>
                  <ion-label>
                    <p>Role: {{item.role}}</p>
                  </ion-label>


                  <div class="t-pricing">
                    <p class="tournament-timing">
                      <span>
                        <ion-icon name="time-sharp"></ion-icon>
                      </span>
                      Created At: {{item.created_at}}
                    </p>
                    <div class="d-flex gap-5" *ngIf="item.status_id==5">
                      <button type="button" class="add-icon remove-icon" (click)="rejectRequest(item.id)">
                        <ion-icon name="close-outline" size="large"></ion-icon>
                      </button>
                      <button type="button" class="add-icon" (click)="acceptRequest(item.id)">
                        <ion-icon name="checkmark-outline" size="large"></ion-icon>
                      </button>
                    </div>
                    <div class="flex-box winnings" *ngIf="item.status_id!=5">
                      <div class="wins" *ngIf="item.status_id==3">
                        <span>accepted</span>
                      </div>
                      <div class="losses" *ngIf="item.status_id==4">
                        <span>rejected</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-virtual-scroll>
      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </section>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </main>
</ion-content>
