<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600389676132-hs4jdbed4pttr5l3slvf3uvlkt74me8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600389676132-hs4jdbed4pttr5l3slvf3uvlkt74me8c</string>
	<key>API_KEY</key>
	<string>AIzaSyBDkNMluGsoUE-Hzh4f7HAvXUuq8t1uQRA</string>
	<key>GCM_SENDER_ID</key>
	<string>600389676132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tournament.ios</string>
	<key>PROJECT_ID</key>
	<string>gamers-parlor</string>
	<key>STORAGE_BUCKET</key>
	<string>gamers-parlor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600389676132:ios:92c550500ab22b11a50371</string>
</dict>
</plist>