<ion-content class="content-inner-body">
  <ion-header>
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-text ion-text-start ion-no-padding ion-padding-start linear-wipe">wagger list
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <main class="ion-padding-horizontal">
    <!-- <div class="game-platform-filters">
      <div value="nemie" class="game-filters" *ngFor="let platform of platforms">
        <ion-img src="{{platform.logo_url}}" (click)="onFilter(platform.id)"></ion-img>
      </div>
    </div> -->

    <ion-segment class="match-filter" (ionChange)="segmentChanged($event)" [value]="filters.type">
      <ion-segment-button value="requests">
        <ion-label>Match Finder</ion-label>
      </ion-segment-button>
      <ion-segment-button value="matches">
        <ion-label (click)="listMatches()">My Matches</ion-label>
      </ion-segment-button>
    </ion-segment>

    <section class="tournament-list-section">
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-virtual-scroll [items]="response" approxItemHeight="170px">
        <ion-row *virtualItem="let item; let itemBounds = bounds;">
          <ion-col size="12">
            <div class="tournament-card">
              <div class="tournament-card-content">
                <div class="game-img">
                  <ion-img src="{{item.game.logo_url}}" class="img-fluid"></ion-img>
                </div>
                <div class="card-body">
                  <div class="game-info">

                    <h1 class="game-title">{{item.game.title}}</h1>
                    <a (click)="showGameRules(item)">
                      <span>rules</span>
                      view all
                    </a>
                  </div>

                  <p class="tournament-timing">
                    <span>
                      <ion-icon name="time-sharp"></ion-icon>
                    </span>
                    mon at 2:00PM
                  </p>

                  <div class="t-pricing">
                    <p class="tournament-price">
                      <span>
                        <ion-icon name="card"></ion-icon>
                      </span>
                      50$
                    </p>
                    <p class="tournament-prize">
                      <span>
                        <ion-icon name="trophy-sharp"></ion-icon>
                      </span>
                      120$
                    </p>

                    <button class="primary-btn get-center" (click)="wagerPostRequest()">
                      REQUEST
                      <span class="get-center">
                        <ion-icon name="caret-forward"></ion-icon>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-virtual-scroll>
      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>

  </main>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
