<!-- <ion-header>
  <ion-toolbar class="ion-no-padding">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start ion-no-padding ion-padding-start">profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content-inner-body">
  <main class="mt-0">
    <div class="profile-banner">
      <ion-header>
        <ion-toolbar class="ion-no-padding">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title slot="end" type="button" class="edit-btn get-center" (click)="openModal()">
            <ion-icon name="pencil-sharp"></ion-icon>
          </ion-title>
        </ion-toolbar>
      </ion-header>

    </div>

    <ion-row>
      <ion-col size="12" class="pt-0">
        <div class="user-profile">
          <div class="user-info-card">
            <div class="profile-img get-center">
              <img src="{{response.avatar_url}}" class="img-fluid" alt="" (click)="getPhoto()" />
            </div>
            <div class="card-body">
              <h4 class="user-name">{{response.name}}</h4>
              <p class="user-email">{{response.email}}</p>
              <p class="user-dob">- {{response.date_of_birth | date:'mediumDate'}} -</p>
              <div class="user-achivement">
                <div class="user-rank">
                  <h4>rank</h4>
                  <p>8</p>
                </div>
                <div class="user-winning">
                  <h4>winning</h4>
                  <p>{{credits}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tags-cover">
            <div class="user-tags get-center">
              valorant
            </div>
          </div>
        </div>
        <div class="user-social-links">
          <p>Social Links</p>
          <div class="social-icons-cover">
            <span class="social-icon get-center">
              <img src="../../../assets/proimg1.png" class="img-fluid" alt="" />
            </span>
            <span class="social-icon get-center">
              <img src="../../../assets/proimg2.png" class="img-fluid" alt="" />
            </span>
            <span class="social-icon get-center">
              <img src="../../../assets/proimg3.png" class="img-fluid" alt="" />
            </span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </main>
</ion-content>

<!--
<div class="profile-card">
  <div class="pic-holder">
    <img id="profilePic" class="pic" [src]="response.avatar_url">
    <label for="newProfilePhoto" class="upload-file-block">
      <div class="text-center">
        <div class="mb-2">
          <i class="fa fa-camera fa-2x"></i>
        </div>
        <div class="text-uppercase">
          Update <br /> Profile Photo
        </div>
      </div>
    </label>
  </div>

  <form class="ion-margin-top">

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="response.name" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="response.email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="date" name="date" [(ngModel)]="response.date_of_birth" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div> -->
