<ion-content class="ion-padding login-page">
    <div class="site-logo">
        <ion-img src="../../../assets/logoo.png" class="img-fluid"></ion-img>
    </div>

    <h1 class="page-title">
        <span> signup </span>  for Tournament
    </h1>


    <form [formGroup]="signupForm"  (ngSubmit)="doSignup()"  novalidate class="site-form">

        <div class="form-group">
            <ion-input type="text" formControlName="name" name="name" placeholder="Enter Complete Name"
                class="ion-no-padding ion-padding-vertical" required>
            </ion-input>
        </div>
        <div class="form-group">
            <ion-input type="email" formControlName="email" name="email" placeholder="Enter email"
                class="ion-no-padding ion-padding-vertical" required>
            </ion-input>
        </div>
        <div class="form-group">
            <ion-input type="password" formControlName="password" name="password" placeholder="Password"
                class="ion-no-padding ion-padding-vertical" required>
            </ion-input>
        </div>
        <div class="form-group">
            <ion-input type="password" name="password_confirmation" formControlName="password_confirmation"
                placeholder="Confirm Password" class="ion-no-padding ion-padding-vertical" required>
            </ion-input>
        </div>
        <ion-button type="submit" color="primary" class="ion-margin-top">
            signup
        </ion-button>

    </form>

    <div class="login-page-text">
        <ion-text color="medium">
            <p>Already have an accout</p>
        </ion-text>
        <a href="">login</a>
    </div>
   
</ion-content>