<ion-header class="custom-footer" collapse="fade">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <div class="registered-team-list">
      <div class="registered-teams" *ngFor="let item of team">
        <div class="img">
          <img [src]="item.user.avatar_url" class="img-fluid" alt="">
        </div>
        <div class="w-100">
          <h1>{{ item.user.name }}</h1>
          <p>{{ item.user.email }}</p>
        </div>
        <div type="button" class="add-icon remove-icon" (click)="removeUser(u, i)">
          <ion-icon name="remove-outline"></ion-icon>
        </div>
      </div>
    </div>


    
  </main>
</ion-content>
