<ion-header class="custom-footer" collapse="fade">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <ion-list-header class="team-title"> {{ team_name }} </ion-list-header>
    <ion-list lines="none" class="tournament-card" *ngFor="let item of team">
      <div class="tournament-card-content">
        <div slot="start" class="game-img">
          <ion-img [src]="item.user.avatar_url" class="img-fluid"></ion-img>
        </div>
        <ion-label>
          <h2>{{item.role}}</h2>
          <h3>{{ item.user.name }}</h3>
          <p>{{ item.user.email }}</p>
        </ion-label>

      </div>
    </ion-list>
  </main>
</ion-content>
