<ion-card class="vip-card">
  <ion-img src="../../../assets/card-img-match.png"></ion-img>
  <ion-card-content>
    <p>
      SEP 02 . STARTING AT 06:00 PM
    </p>
    <div class="match-title">
      <div class="game-play-icon">
        <img src="../../../assets/imgi.png" class="img-fluid" alt="">
      </div>
      <h1>
        fifa
      </h1>
    </div>
    <div class="match-details">
      <div>
        <h2>price pool</h2>
        <p>
          <span class="get-center icon-img">
            <img src="../../../assets/matchprice.png" alt="">
          </span>
          $ 200
        </p>
      </div>
      <div>
        <h2>entry fee</h2>
        <p>
          <span class="get-center icon-img">
            <img src="../../../assets/coin.png" alt="">
          </span>
          $ 5
        </p>
      </div>
      <div>
        <h2>rules</h2>
        <a href="http://www.fifa.com" target="_blank">
          view all
          <span class="get-center icon-img">
            <img src="../../../assets/up-arrow-svgrepo-com.svg" alt="">
          </span>
        </a>
      </div>
    </div>
    <div class="match-players">
      <div class="match-player-imgs">
        <div class="player-dp get-center">
          <img src="../../../assets/fifa_22.png" class="img-fluid" alt="">
        </div>
        <div class="player-dp get-center">
          <img src="../../../assets/fifa_22.png" class="img-fluid" alt="">
        </div>
        <div class="player-dp get-center">
          <img src="../../../assets/fifa_22.png" class="img-fluid" alt="">
        </div>
        <div class="player-dp get-center">
          <img src="../../../assets/fifa_22.png" class="img-fluid" alt="">
        </div>
        <div class="player-dp get-center">
          <img src="../../../assets/fifa_22.png" class="img-fluid" alt="">
        </div>
        <div class="player-dp get-center show-counter">
          <h5>
            + 55
          </h5>
        </div>
      </div>
      <div class="player-no-count">
        13/65 players
      </div>
    </div>
  </ion-card-content>
</ion-card>