<ion-card class="vip-card">
  <ion-img src="{{gameData.game.logo_url}}"></ion-img>
  <ion-card-content>
    <p>
      SEP 02 . STARTING AT 06:00 PM
    </p>
    <div class="match-title">
      <div class="game-play-icon">
        <img src="../../../assets/imgi.png" class="img-fluid" alt="">
      </div>
      <h1>
        {{gameData.game.title}}
      </h1>
    </div>
    <div class="match-details">
      <div>
        <h2>price pool</h2>
        <p>
          <span class="get-center icon-img">
            <img src="../../../assets/matchprice.png" alt="">
          </span>
          $ 200
        </p>
      </div>
      <div>
        <h2>entry fee</h2>
        <p>
          <span class="get-center icon-img">
            <img src="../../../assets/coin.png" alt="">
          </span>
          $ 5
        </p>
      </div>
      <div>
        <h2>rules</h2>
        <a (click)="showGameRules(gameData)">
          view all
          <span class="get-center icon-img">
            <img src="../../../assets/up-arrow-svgrepo-com.svg" alt="">
          </span>
        </a>
      </div>
    </div>
    <div class="match-players">
      <div class="match-player-imgs">
        <div class="player-dp get-center" *ngFor="let items of gameData.enrollments">
          <img src="{{items.team.team_logo_url}}" class="img-fluid" alt="">
        </div>

      </div>
      <div class="player-no-count">
       {{gameData.enrollments.length}} /{{gameData.number_of_request}} players
      </div>
    </div>
  </ion-card-content>
</ion-card>
