<ion-header class="custom-footer" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <ion-list-header class="team-title"> My Matches </ion-list-header>

    <div class="col col-12 col-lg-6" *ngFor="let inp_team of team">
      <div class=" match-vs" *ngFor="let team_match of inp_team.team_match">
        <div class="home">
          <div class="d-flex ion-align-items-center gap-10">
            <div class="get-center">
              <img
                src="https://raw.githubusercontent.com/RaulMaya/MiniProjects/master/premier_league_fixtures/assets/styles/PL%20Teams/Liverpool.png"
                alt="Logo" width="25" height="20" class="img-fluid">
            </div>
            <span>
              Liverpool
            </span>
          </div>
          <div class="seed">
            4
          </div>
        </div>
        <center>
          <strong>vs</strong>
        </center>
        <div class="visit">
          <div class="d-flex ion-align-items-center gap-10">
            <div class="get-center">
              <img
                src="https://raw.githubusercontent.com/RaulMaya/MiniProjects/master/premier_league_fixtures/assets/styles/PL%20Teams/Liverpool.png"
                alt="Logo" width="25" height="20" class="img-fluid">
            </div>
            <span>
              Liverpool
            </span>
          </div>
          <div class="seed">
            4
          </div>
        </div>
        <button type="" class="primary-btn">upload</button>
      </div>
    </div>
  </main>
</ion-content>
