<ion-content class="content-inner-body login-cover">
  <main class="ion-padding-horizontal login-wrapper ion-no-margin">
    <h1 class="page-title">
      log in
      <span>
        this app for gamers
      </span>
    </h1>


    <form [formGroup]="loginForm" (ngSubmit)="doLogin()" novalidate class="site-form" style="margin:0">

      <div class="form-group">
        <ion-input inputmode="email" formControlName="email" name="email" autocomplete="off" placeholder="Email Address"
          class="form-control" required></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <ion-input inputmode="password" formControlName="password" name="password" placeholder="Password"
          class="form-control" required></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <button [disabled]="!loginForm.valid" type="submit" class="secondary-btn">
        log in
      </button>

    </form>

    <div class="login-page-text">
      <p>You don't have an account?</p>
      <a href="">signup</a>
    </div>
  </main>
</ion-content>