<ion-header>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start ion-no-padding">My Tournaments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" class="ion-padding">
    <!-- <ion-list-header> Recent Conversations </ion-list-header> -->
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/fifa.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Team BT</h2>
          <p>Created At: 22 Jun, 2022</p>
        </ion-label>
        <ion-badge slot="end">22</ion-badge>

      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
