<!-- <ion-header>

  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start ion-no-padding">My Tournaments</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <ion-segment>
      <ion-segment-button value="nemie" class="game-filters">
        <ion-img src="../../../assets/gamee (1).png"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="friends" class="game-filters">
        <ion-img src="../../../assets/gamee (2).png"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="eemie" class="game-filters">
        <ion-img src="../../../assets/gamee (3).png"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="enemie" class="game-filters">
        <ion-img src="../../../assets/gamee (4).png"></ion-img>
      </ion-segment-button>

      <ion-segment-button value="eneme" class="game-filters">
        <ion-img src="../../../assets/gamee (5).png"></ion-img>
      </ion-segment-button>
    </ion-segment>


    <div class="tournaments-slider-section">
      <h1 class="main-heading">
        <span>vip</span> Tournaments
      </h1>
      <div class="slider-cover">
        <app-vip-tournament-card></app-vip-tournament-card>
      </div>
    </div>
  </main>

  <div class="game-icon-top">
    <ion-img src="../../../assets/greendot1.svg"></ion-img>
  </div>

  <div class="game-icon">
    <ion-img src="../../../assets/greendot2.svg"></ion-img>
  </div>
</ion-content>









<!-- 
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-virtual-scroll [items]="response" approxItemHeight="170px">
  <ion-row *virtualItem="let item; let itemBounds = bounds;">
    <ion-col *ngFor="let item of response" size="12">
      <ion-card class="myTournament ion-no-margin">
        <ion-item align-items: flex-start>
          <ion-avatar slot="start">
            <img src="../../../assets/fifa.jpg" />
          </ion-avatar>
          <ion-label class="ion-no-margin">
            <h2>{{item.tournament.name}}</h2>
            <p>Tournament fee: 20$</p>
            <p>requests: 13</p>
            <p>Created At: 22 Jun, 2022</p>
          </ion-label>
          <ion-badge slot="end" color="medium">22</ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>



</ion-virtual-scroll>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->