<ion-content class="content-inner-body">
  <ion-header>
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-text ion-text-start ion-no-padding ion-padding-start linear-wipe">my tournaments
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <main class="ion-padding-horizontal">
    <ion-segment class="match-filter" scrollable (ionChange)="platformFilter($event)">
      <ion-segment-button [value]="platform.id" *ngFor="let platform of platforms">
        <ion-label>{{platform.title}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <section class="tournament-list-section">
      <h1 class="main-heading">My Tournaments</h1>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-virtual-scroll [items]="response" approxItemHeight="170px">
        <ion-row *virtualItem="let item; let itemBounds = bounds;">
          <ion-col size="12">
            <div class="tournament-card">
              <div class="tournament-card-content">
                <div class="game-img">
                  <ion-img src="{{item.tournament.game.logo_url}}" class="img-fluid"></ion-img>
                </div>
                <div class="card-body">
                  <div class="game-info">
                    <h1 class="game-title">{{item.tournament.name}}</h1>
                    <a (click)="showGameRules(item.tournament)">
                      <span>Rules</span>
                      view all
                    </a>
                  </div>

                  <p class="tournament-timing">
                    <span>
                      <ion-icon name="time-sharp"></ion-icon>
                    </span>
                    {{ item.tournament.tournament_date | date:'medium' }}
                  </p>

                  <div class="t-pricing">
                    <p class="tournament-price">
                      <span>
                        <ion-icon name="card"></ion-icon>
                      </span>
                      {{ item.tournament.registration_fee }}$
                    </p>
                    <p class="tournament-prize">
                      <span>
                        <ion-icon name="trophy-sharp"></ion-icon>
                      </span>
                      {{ item.tournament.prize_amount }}$
                    </p>
                    <button class="primary-btn get-center" (click)="viewTeamList(item.team)">
                      VIEW TEAM
                      <span class="get-center">
                        <ion-icon name="caret-forward"></ion-icon>
                      </span>
                    </button>
                    <!-- <button class="primary-btn get-center" (click)="viewMatchList(item.tournament_id,item.team_id)">
                      Matches
                      <span class="get-center">
                        <ion-icon name="caret-forward"></ion-icon>
                      </span>
                    </button> -->
                  </div>

                  <div class="card-footer">
                    <p class="tournament-prize">
                      <span>
                        <ion-icon name="people"></ion-icon>
                      </span>
                      {{ item.team.team_members.length }}
                    </p>
                    <!-- <p class="vip-member">
                      <span>
                        <ion-icon name="person-circle-sharp"></ion-icon>
                      </span>
                      {{item.tournament.enrollments.length}} /{{item.tournament.number_of_request}}
                    </p> -->
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-virtual-scroll>
      <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </section>

    <div class="error-bug" *ngIf="response.lenght == 0">
      <div class="svg-cover">
        <svg width="70" height="70" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="search-svgrepo-com 1" clip-path="url(#clip0_2_34)">
            <g id="search-bg">
              <path id="Vector"
                d="M256 512C397.385 512 512 397.385 512 256C512 114.615 397.385 0 256 0C114.615 0 0 114.615 0 256C0 397.385 114.615 512 256 512Z"
                fill="#FF2746" />
              <path id="Vector_2"
                d="M505.446 313.811L358.555 166.921L131 393.04L249.882 511.922C251.916 511.97 253.954 512 256 512C377.504 512 479.237 427.351 505.446 313.811Z"
                fill="#940030" />
              <path id="Vector_3" d="M300.23 108.596H131V393.04H358.555V166.921L300.23 108.596Z" fill="white" />
              <path id="Vector_4" d="M358.555 166.921L300.23 108.596H238.187V393.04H358.555V166.921Z" fill="#DBDBDB" />
              <path id="Vector_5" d="M300.23 166.921H358.555L300.23 108.596V166.921Z" fill="#C4C4C4" />
            </g>
            <g id="search-handle">
              <path id="Vector_6"
                d="M206.734 421.669C214.559 429.494 227.245 429.494 235.07 421.669L318.947 337.792C326.772 329.967 326.772 317.281 318.947 309.456C311.122 301.631 298.436 301.631 290.611 309.456L206.734 393.333C198.909 401.158 198.909 413.844 206.734 421.669Z"
                fill="#121149" />
              <path id="Vector_7"
                d="M318.473 309.029L206.305 421.197C206.452 421.352 206.581 421.518 206.733 421.671C214.558 429.496 227.244 429.496 235.069 421.671L318.946 337.794C326.771 329.969 326.771 317.283 318.946 309.458C318.795 309.305 318.63 309.176 318.473 309.029Z"
                fill="#0A0A33" />
              <path id="Vector_8"
                d="M346.712 364.239C392.305 364.239 429.265 327.279 429.265 281.686C429.265 236.093 392.305 199.133 346.712 199.133C301.119 199.133 264.159 236.093 264.159 281.686C264.159 327.279 301.119 364.239 346.712 364.239Z"
                fill="#273B7A" />
              <path id="Vector_9"
                d="M405.09 223.315C404.938 223.163 404.78 223.025 404.628 222.875L287.904 339.599C288.054 339.751 288.192 339.909 288.344 340.061C320.583 372.3 372.852 372.3 405.09 340.061C437.328 307.822 437.329 255.552 405.09 223.315Z"
                fill="#121149" />
              <path id="Vector_10"
                d="M346.712 343.4C380.796 343.4 408.426 315.77 408.426 281.686C408.426 247.602 380.796 219.972 346.712 219.972C312.628 219.972 284.998 247.602 284.998 281.686C284.998 315.77 312.628 343.4 346.712 343.4Z"
                fill="#71E2EF" />
              <path id="Vector_11"
                d="M389.892 237.609L302.638 324.863C302.788 325.015 302.926 325.173 303.078 325.325C327.178 349.425 366.254 349.425 390.354 325.325C414.454 301.225 414.454 262.149 390.354 238.049C390.204 237.897 390.046 237.759 389.892 237.609Z"
                fill="#38C6D9" />
            </g>
          </g>
          <defs>
            <clipPath id="clip0_2_34">
              <rect width="512" height="512" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <ion-label>
        <p>Not found</p>
      </ion-label>
    </div>

  </main>

  <div class="game-icon-top">
    <ion-img src="../../../assets/greendot1.svg"></ion-img>
  </div>

  <div class="game-icon">
    <ion-img src="../../../assets/greendot2.svg"></ion-img>
  </div>
</ion-content>









<!--
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-virtual-scroll [items]="response" approxItemHeight="170px">
  <ion-row *virtualItem="let item; let itemBounds = bounds;">
    <ion-col *ngFor="let item of response" size="12">
      <ion-card class="myTournament ion-no-margin">
        <ion-item align-items: flex-start>
          <ion-avatar slot="start">
            <img src="../../../assets/fifa.jpg" />
          </ion-avatar>
          <ion-label class="ion-no-margin">
            <h2>{{item.tournament.tournament.name}}</h2>
            <p>Tournament fee: 20$</p>
            <p>requests: 13</p>
            <p>Created At: 22 Jun, 2022</p>
          </ion-label>
          <ion-badge slot="end" color="medium">22</ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>



</ion-virtual-scroll>

<ion-infinite-scroll (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
