<ion-header>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start ion-no-padding">Tournaments</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >


  <main class="content-inner-body ion-padding-horizontal">
    <ion-segment>
      <ion-segment-button value="nemie" class="game-filters">
        <ion-img src="../../../assets/gamee (1).png"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="friends" class="game-filters">
        <ion-img src="../../../assets/gamee (2).png"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="eemie" class="game-filters">
        <ion-img src="../../../assets/gamee (3).png"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="enemie" class="game-filters">
        <ion-img src="../../../assets/gamee (4).png"></ion-img>
      </ion-segment-button>
      <ion-segment-button value="eneme" class="game-filters">
        <ion-img src="../../../assets/gamee (5).png"></ion-img>
      </ion-segment-button>
    </ion-segment>


    <div class="tournaments-slider-section">
      <h1 class="main-heading">
        <span>vip</span> Tournaments
      </h1>

      <swiper class="slider-cover" [initialSlide]="1" [slidesPerView]="1.25" [spaceBetween]="20" [centeredSlides]="true" #swiper>
        <ng-template swiperSlide>
          <app-vip-tournament-card></app-vip-tournament-card>
        </ng-template>
        <ng-template swiperSlide>
          <app-vip-tournament-card></app-vip-tournament-card>
        </ng-template>
      </swiper>

    </div>
  </main>

  <main class="content-inner-body ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-virtual-scroll [items]="response" approxItemHeight="170px">
      

        <ion-row *virtualItem="let item; let itemBounds = bounds;">
          <ion-col *ngFor="let item of response" size="12">
            <div class="tournament-card">
              <div class="tournament-card-content">
                <div class="game-img">
                  <ion-img src="../../../assets/tekken-7.jpg" class="img-fluid"></ion-img>
                </div>
                <div class="card-body">
                  <div class="game-info">
                    <h1 class="game-title">{{item.name}}</h1>
                    <a href="http://">
                      rules
                    </a>
                  </div>
                  <p class="register-players">
                    <span>
                      <ion-icon name="people-circle-sharp"></ion-icon>
                    </span> 13/64
                  </p>
                  <p class="team-players">
                    <span>
                      <ion-icon name="person-sharp"></ion-icon>
                    </span> 4
                  </p>
                  <p class="tournament-date">
                    <span>
                      <ion-icon name="time-sharp"></ion-icon>
                    </span> mon 2:00PM
                  </p>
    
                
                  <div class="card-footer">
                    <p class="tournament-price">
                      <span>
                        <ion-icon name="card"></ion-icon>
                      </span> 50$
                    </p>
                    <p class="tournament-prize">
                      <span>
                        <ion-icon name="trophy-sharp"></ion-icon>
                      </span> 120$
                    </p>
                    <p class="vip-member">
                      <span>
                        <ion-icon name="person-circle-sharp"></ion-icon>
                      </span> 2 vip players
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
    

      
    </ion-virtual-scroll>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

   

  </main>
</ion-content>