<ion-header>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start ion-no-padding">Tournaments</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <main class="content-inner-body ion-padding">
    <ion-row>

      <ion-col *ngFor="let item of response" size="12">
        <div class="tournament-card">
          <div class="tournament-title">
            <h1>{{ item.name }}</h1>
            <a href="http://">
              tournament rules
            </a>
          </div>
          <div class="card-body">
            <p class="register-players">
              <span>registered teams:</span> {{ item.number_of_request }}
            </p>
            <p class="team-players">
              <span>registration fee:</span> {{ item.registration_fee }}
            </p>
        
            <p class="tournament-price">
              <span>start date:</span> {{ item.start_date }}
            </p>

            <p class="tournament-price">
              <span>start date:</span> {{ item.end_date }}
            </p>

            <p class="tournament-prize">
              <span>tournament prize:</span> 120$
            </p>
          </div>
        </div>
      </ion-col>


    </ion-row>






    <div class="game-icon-top">
      <ion-icon name="locate-outline"></ion-icon>
    </div>
  
    <div class="game-icon">
      <ion-icon name="logo-firefox"></ion-icon>
    </div>
  </main>
</ion-content>