<ion-header>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start ion-no-padding">Tournaments</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <virtual-scroll-element class="ion-content-scroll-host">
    <main class="content-inner-body ion-padding">
      <ion-row *ngFor="let item of response">
        <ion-col  size="12">
          <div class="tournament-card">
            <div class="tournament-card-content">
              <div class="game-img">
                <ion-img src="../../../assets/fifa.jpg" class="img-fluid"></ion-img>
              </div>
              <div class="card-body">
                <div class="game-info">
                  <h1 class="game-title">{{item.name}}</h1>
                  <a href="http://">
                     Registration
                  </a>
                </div>
                <p class="register-players">
                  <span>
                    <ion-icon name="people-circle-sharp"></ion-icon>:
                  </span> 13/64
                </p>
                <p class="team-players">
                  <span>
                    <ion-icon name="person-sharp"></ion-icon>:
                  </span> 4
                </p>
  
              
                <div class="card-footer">
                  <p class="tournament-price">
                    <span>
                      <ion-icon name="card"></ion-icon>:
                    </span> ${{item.registration_fee}}
                  </p>
                  <p class="tournament-prize">
                    <span>
                      <ion-icon name="trophy-sharp"></ion-icon>:
                    </span> 120$
                  </p>
                  <p class="vip-member">
                    <span>
                      <ion-icon name="person-circle-sharp"></ion-icon>:
                    </span> 2 vip players
                  </p>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <div class="game-icon-top">
        <ion-icon name="locate-outline"></ion-icon>
      </div>
      <div class="game-icon">
        <ion-icon name="logo-firefox"></ion-icon>
      </div>
    </main>
  </virtual-scroll-element>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  

</ion-content>