<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">

    <section class="">
      <form [formGroup]="teamForm" (ngSubmit)="createTournament()" novalidate class="site-form" style="margin: 0">
        <div class="form-group">
          <ion-input type="text" name="name" placeholder="Enter Name" class="form-control" formControlName="name">
          </ion-input>
        </div>
        <div class="form-group">
          <ion-input type="number" name="number_of_members" placeholder="Number of Members" class="form-control"
            formControlName="name">
          </ion-input>
        </div>
        <div class="form-group">
          <ion-input type="text" name="user_id" placeholder="User" class="form-control" readonly>
          </ion-input>
        </div>
        <button type="submit" class="secondary-btn">create</button>
      </form>
    </section>
  </main>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
