<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <ion-segment
      class="match-filter"
      (ionChange)="segmentChanged($event)"
      [value]="segment"
    >
      <ion-segment-button value="createTeam">
        <ion-label>Create team</ion-label>
      </ion-segment-button>
      <ion-segment-button value="addPlayer">
        <ion-label>Add Players</ion-label>
      </ion-segment-button>
    </ion-segment>

    <section class="" *ngIf="segment === 'createTeam'">
      <form class="site-form" style="margin: 0">
        <div class="form-group">
          <ion-input
            type="text"
            name="name"
            placeholder="Enter Name"
            class="form-control"
          >
          </ion-input>
        </div>
        <div class="form-group">
          <ion-input
            type="number"
            name="number_of_members"
            placeholder="Number of Members"
            class="form-control"
          >
          </ion-input>
        </div>
        <div class="form-group">
          <ion-input
            type="text"
            name="user_id"
            placeholder="User"
            class="form-control"
            readonly
          >
          </ion-input>
        </div>
        <button type="submit" class="secondary-btn">create</button>
      </form>
    </section>

    <section class="" *ngIf="segment === 'addPlayer'">
      <form class="site-form" style="margin: 0">
        <!-- <div class="form-group">
          <ion-input type="text" name="fullName" placeholder="Full Name" class="form-control">
          </ion-input>
        </div>
        <div class="form-group">
          <ion-input type="email" name="email" placeholder="Enter your Email" class="form-control">
          </ion-input>
        </div> -->
        <div class="form-group">
          <ion-input
            type="text"
            name="playerRole"
            placeholder="Enter your Role"
            class="form-control"
          >
          </ion-input>
        </div>

        <div class="form-group">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Teamss List">
                <ion-select-option value="apples">Apples</ion-select-option>
                <ion-select-option value="oranges">Oranges</ion-select-option>
                <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div class="form-group">
          <ion-list>
            <ion-item>
              <ion-select placeholder="User List">
                <ion-select-option value="apples">Apples</ion-select-option>
                <ion-select-option value="oranges">Oranges</ion-select-option>
                <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <!-- <div class="form-group">
          <ion-input type="password" name="password" placeholder="Password" class="form-control">
          </ion-input>
        </div>
        <div class="form-group">
          <ion-input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control">
          </ion-input>
        </div> -->
        <button type="submit" class="secondary-btn">Add player</button>
      </form>
    </section>
  </main>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
