<ion-header>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start ion-no-padding">My Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main class="content-inner-body ion-padding">
    <div class="game-icon-top">
      <ion-icon name="locate-outline"></ion-icon>
    </div>

    <div class="game-icon">
      <ion-icon name="logo-firefox"></ion-icon>
    </div>
    <!-- <ion-list lines="none" class="ion-padding"> -->
    <!-- <ion-list-header> Recent Conversations </ion-list-header> -->
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-margin">
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../../assets/fifa.jpg" />
            </ion-avatar>
            <ion-label>
              <h2>Team BT</h2>
              <p>Created At: 22 Jun, 2022</p>
            </ion-label>
            <ion-badge slot="end" color="medium">22</ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="ion-no-margin">
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../../assets/fifa.jpg" />
            </ion-avatar>
            <ion-label>
              <h2>Team BT</h2>
              <p>Created At: 22 Jun, 2022</p>
            </ion-label>
            <ion-badge slot="end" color="medium">22</ion-badge>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

  
    <!-- </ion-list> -->
  </main>
</ion-content>
