<!-- <ion-header >
  <ion-toolbar line="none">
    <ion-buttons slot="end" color="secondary-contrast">
      <ion-menu-button color="secondary-contrast"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
 -->

<ion-tabs>
  <ion-tab-bar slot="bottom" class="navigation-menu">
    <ion-tab-button tab="/tournaments-list">
      <ion-icon name="trophy" color="primary"></ion-icon>
      <ion-label>Tournaments</ion-label>
      <ion-badge color="medium">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="wager-list">
      <ion-icon name="person-circle" color="primary"></ion-icon>
      <ion-label>Wager</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ladder-list">
      <ion-icon name="rocket" color="primary"></ion-icon>
      <ion-label>Ladder</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle" color="primary"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
