<ion-content class="content-inner-body">
  <ion-header>
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-text ion-text-start ion-no-padding ion-padding-start linear-wipe">ladder list
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <main class="ion-padding-horizontal">



    <section class="tournament-list-section">
      <h1 class="main-heading">ladder</h1>
      <ion-row>
        <ion-col size="12">
          <div class="ladder-card">
            <div class="ladder-card-content">
              <div class="ladder-img img-rounded">
                <ion-img src="" class="img-fluid"></ion-img>
              </div>
              <div class="card-body">
                <div class="flex-box">
                  <div class="title">
                    <h1>item.name</h1>
                    <div class="pl-id">
                      player id:0090990
                    </div>
                  </div>
                  <div class="pl-points">
                    <p>points</p>
                    <div>17,899.00</div>
                  </div>
                </div>
                <div class="flex-box winnings">
                  <div class="wins">
                    <span>wins</span> 25
                  </div>
                  <div class="losses">
                    <span>losses</span> 25
                  </div>

                  <div class="wins">
                    <span>wins%</span> 25
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>

    </section>


  </main>


</ion-content>
