<ion-content class="content-inner-body">
  <ion-header>
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-text ion-text-start ion-no-padding ion-padding-start linear-wipe">Choose your plan
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <main class="ion-padding-horizontal">

    <section class="tournament-list-section">
      <ion-grid *ngIf="paymentAmount <= 0">
        <ion-row>
          <!-- <ion-title class="header-text ion-text-center ion-no-padding ion-padding-start" color="secondary-contrast">
            choose your plan
          </ion-title>
          <p></p> -->
          <ion-col size="6" *ngFor="let item of subs">
            <button class="plan-btn" (click)="createCredit(item.credit,item.id)">
              <h1>
                ${{item.credit|number}}
              </h1>
              <h4>
                {{item.no_of_months|number}} Months
              </h4>
              <p>
                starter pack, per month
              </p>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p class="text-white">Free Credits (depends on which membership)</p>
            <p class="text-white">Access to exclusive Parlor Member tournaments</p>
            <p class="text-white">Subscriptions will renew automatically at the end of each term. Payments will continue until you
              cancel your subscription.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <div *ngIf="paymentAmount > 0" id="paypal-button-container"></div>

      <button *ngIf="paymentAmount > 0" (click)="paymentAmount = 0" class="secondary-btn">Back</button>
    </section>
  </main>
</ion-content>
