<ion-content class="content-inner-body">
  <ion-header>
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" class="back-btn"></ion-back-button>
      </ion-buttons>
      <ion-title class="header-text ion-text-start ion-no-padding ion-padding-start linear-wipe">Participate
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <main class="ion-padding-horizontal">
    <ion-segment class="match-filter" [(ngModel)]="segments[this.step].value">
      <ion-segment-button [value]="segment.value" *ngFor="let segment of segments">
        <ion-label>{{segment.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <section class="" *ngIf="segments[this.step].value === segments[0].value">
      <form class="site-form" style="margin: 0">
        <div class="form-group">
          <ion-input type="text" name="fullName" placeholder="Name" class="form-control"
            [(ngModel)]="formData.team_name">
          </ion-input>
        </div>
        <button type="submit" (click)="uploadLogo()" class="secondary-btn mt-0 border-0">Upload Logo</button>
        <div class="img-img" *ngIf="formData.team_logo">
          <ion-img [src]="formData.team_logo" class="img-fluid"></ion-img>
          <div class="btn-close get-center" (click)="formData.team_logo = null">
            <ion-icon name="close-sharp"></ion-icon>
          </div>
        </div>
      </form>
    </section>

    <section class="" *ngIf="segments[this.step].value === segments[1].value">
      <div class="form-group">
        <ion-input type="text" name="fullName" placeholder="Search Player" class="form-control"
          (ionChange)='searchPlayers($event)'>
        </ion-input>
      </div>

      <!-- <ion-list lines="none">
        <ion-item *ngFor="let u of selectedUsers; let i = index">
          <ion-avatar slot="start" class="game-img">
            <ion-img [src]="u.avatar_url" class="img-fluid" name="musical-notes"></ion-img>
          </ion-avatar>
          <ion-label>
            <h3>{{ u.name }}</h3>
            <p>{{ u.email }}</p>
          </ion-label>
          <ion-button class="btn btn-primary" (click)="removeUser(u, i)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list> -->

      <ion-list lines="none" class="tournament-card" *ngFor="let u of selectedUsers; let i = index">
        <div class="tournament-card-content">
          <div slot="start" class="game-img">
            <ion-img [src]="u.avatar_url" class="img-fluid" name="musical-notes"></ion-img>
          </div>
          <ion-label class="w-100">
            <h3>{{ u.name }}</h3>
            <p>{{ u.email }}</p>
          </ion-label>
          <div type="button" class="btn btn-primary btn-radius get-center" (click)="removeUser(u, i)"
            [ngClass]="status ? 'success' : 'danger'">
            <ion-icon name="remove-sharp"></ion-icon>
          </div>
        </div>
      </ion-list>

      <ion-list lines="none" class="tournament-card" *ngFor="let u of users; let i = index">
        <div class="tournament-card-content">
          <div slot="start" class="game-img">
            <ion-img [src]="u.avatar_url" class="img-fluid" name="musical-notes"></ion-img>
          </div>
          <ion-label class="w-100">
            <h3>{{ u.name }}</h3>
            <p>{{ u.email }}</p>
          </ion-label>
          <div type="button" class="btn btn-primary btn-radius get-center" (click)="selectUser(u,index)">
            <ion-icon name="add-sharp"></ion-icon>
          </div>
        </div>
      </ion-list>

    </section>
  </main>
</ion-content>


<ion-footer>
  <ion-row *ngIf="step == 0">
    <ion-col *ngIf="step > 0" class="ion-no-padding">
      <button type="submit" (click)="previous()" class="secondary-btn mt-0 border-0">Back</button>
    </ion-col>
    <ion-col class="ion-no-padding">
      <button type="submit" (click)="next()" class="secondary-btn mt-0 border-0">Next</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="step == 1">
    <ion-col *ngIf="step > 0" class="ion-no-padding">
      <button type="submit" (click)="previous()" class="secondary-btn mt-0 border-0">Back</button>
    </ion-col>
    <ion-col class="ion-no-padding">
      <button type="submit" (click)="createTeam()" class="secondary-btn mt-0 border-0">Submit</button>
    </ion-col>
  </ion-row>
</ion-footer>
