<ion-content class="content-inner-body">
  <ion-header>
    <ion-toolbar class="ion-no-padding">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" class="back-btn"></ion-back-button>
      </ion-buttons>
      <ion-title class="header-text ion-text-start ion-no-padding ion-padding-start linear-wipe">Participate
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <main class="ion-padding-horizontal">
    <ion-segment class="match-filter" [(ngModel)]="segments[this.step].value">
      <ion-segment-button [value]="segment.value" *ngFor="let segment of segments">
        <ion-label>{{segment.label}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <section class="" *ngIf="segments[this.step].value === segments[0].value">
      <form class="site-form" style="margin: 0">
        <div class="form-group">
          <ion-input type="text" name="fullName" placeholder="Name" class="form-control">
          </ion-input>
        </div>
        <div class="form-group">
          <ion-input type="number" name="noMember" placeholder="Number of Members" class="form-control">
          </ion-input>
        </div>


      </form>
    </section>

    <section class="" *ngIf="segments[this.step].value === segments[1].value">
      <div class="form-group">
        <ion-input type="text" name="fullName" placeholder="Search Player" class="form-control">
        </ion-input>
      </div>
      <ion-list lines="none">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon style="width: 100%; height: 100%" name="musical-notes"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <h3>Abbey Road</h3>
            <p>The Beatles</p>
            <!-- <p>1969</p> -->
          </ion-label>
        </ion-item>
      </ion-list>
    </section>
  </main>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col *ngIf="step > 0">
      <button type="submit" (click)="previous()" class="secondary-btn">Back</button>
    </ion-col>
    <ion-col>
      <button type="submit" (click)="next()" class="secondary-btn">Next</button>
    </ion-col>
  </ion-row>
</ion-footer>
