/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

body {
    font-family: "Poppins", sans-serif;
}

ion-content {
    --background: var(--ion-color-content-bg);
    --position: relative;
}

ion-img,
.img-fluid {
    max-width: 100%;
    height: auto;
}

.get-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-form {
    padding: 50px;
    background: rgba(104, 104, 104, 0.46);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 10px;
    ion-input {
        --color: var(--ion-color-light) !important;
        padding: 0px !important;
        border-bottom: 2px solid var(--ion-color-light);
    }
}

.error-message {
    color: #ff0000 !important;
    margin-top: 5px;
}

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light);
}

ion-header {
    border-bottom: 2px solid var(--ion-color-light);
}

ion-menu-button {
    color: var(--ion-color-tertiary);
}

ion-title {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.site-logo {
    display: flex;
    justify-content: center;
    max-width: 300px;
    height: 150px;
    overflow: hidden;
    margin: 20px auto;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: var(--ion-color-primary);
    flex-wrap: wrap;
    font-weight: 600;
    span {
        color: var(--ion-color-light);
        margin-right: 8px;
    }
}

.login-page {
    --overflow: hidden;
}

.login-page-text {
    text-align: center;
    p {
        margin-bottom: 0;
        color: var(--ion-color-primary);
    }
    a {
        color: var(--ion-color-light);
        text-transform: capitalize;
    }
}

.tournament-card {
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(69, 69, 69, 0.75);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--ion-color-medium-shade);
    color: var(--ion-color-light);
    padding: 0px 10px 0 0px;

    .tournament-card-content {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        .game-img {
            max-width: 100px;
            width: 100%;
            overflow: hidden;
            border-radius: 5px 0px 0px 10px;
            height: 150px;
            display: flex;
            justify-self: center;
            align-items: center;
            overflow: hidden;
            background-color: var(--ion-color-light);
        }
        .game-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px;
            margin-bottom: 10px;
            h1,
            a {
                margin: 0;
                text-transform: capitalize;
            }

            a {
                font-size: 14px;
            }

            .game-title {
                color: var(--ion-color-light);
                font-size: 20px;
                font-weight: 600;
            }
        }
        .card-body {
            width: 100%;
            p {
                margin: 4px 0;
                display: flex;
                align-items: center;
                color: var(--ion-color-light);
                text-transform: capitalize;
                font-weight: 500;
                font-size: 14px;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 5px;
                    font-size: 20px;
                    color: var(--ion-color-tertiary-tint);
                    max-width: 22px;
                    min-width: 22px;
                    width: 100%;
                    height: 22px;
                    padding: 2px;
                    background: transparent;
                    // border-radius: 50%;
                }
            }

            .card-footer {
                display: flex;
                align-items: center;
                column-gap: 10px;
                row-gap: 5px;
                border-top: 1px solid var(--ion-color-light);
                padding-top: 5px;
                margin-top: 5px;
            }
        }
    }
}

.navigation-menu {
    --background: var(--ion-color-light-shade);
}

.side-menu-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    ion-note {
        margin-bottom: 0 !important;
    }
}

#inbox-list {
    padding: 0 !important;
}

.myTournament {
    ion-item {
        align-items: flex-start !important;
        padding: 10px 0px;
        ion-avatar {
            margin-top: 0px !important;
        }
        ion-label {
            h2 {
                margin-top: 0px !important;
            }
        }
    }
    .item-native {
        --border: none !important;
    }
}

.profile-card {
    // .profile-pic-wrapper {
    //     height: 100vh;
    //     width: 100%;
    //     position: relative;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }
    .pic-holder {
        text-align: center;
        position: relative;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    .pic-holder .pic {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .pic-holder .upload-file-block,
    .pic-holder .upload-loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(90, 92, 105, 0.7);
        color: #f8f9fc;
        font-size: 12px;
        font-weight: 600;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
    }

    .pic-holder .upload-file-block {
        cursor: pointer;
    }

    .pic-holder:hover .upload-file-block,
    .uploadProfileInput:focus ~ .upload-file-block {
        opacity: 1;
    }

    .pic-holder.uploadInProgress .upload-file-block {
        display: none;
    }

    .pic-holder.uploadInProgress .upload-loader {
        opacity: 1;
    }

    /* Snackbar css */
    .snackbar {
        visibility: hidden;
        min-width: 250px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 14px;
        transform: translateX(-50%);
    }

    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }
        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }
        to {
            bottom: 0;
            opacity: 0;
        }
    }
}

.game-filters {
    max-width: 61px;
    min-width: 61px;
    width: 100%;
    height: 63px;
    background-color: var(--ion-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.game-icon {
    position: absolute;
    bottom: -46px;
    right: -30px;
    // z-index: -1;
}

.game-icon-top {
    position: absolute;
    top: 0;
    left: -5px;
}
ion-segment {
    gap: 5px;
    align-items: center;
}
ion-segment-button.segment-button-checked {
    background: var(--ion-color-primary);
    border: none;
    height: 65px;
}

.content-inner-body {
    margin-top: 100px;
}

.vip-card {
    background: var(--ion-color-card-bg);
    padding: 7px 7px 15px;
    border-radius: 20px;
    margin: 0;
    ion-card-content {
        padding: 0 20px;
        p {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 500;
            color: var(--ion-color-869BAF);
        }

        .match-title {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 5px;
            .game-play-icon {
                display: flex;
                align-items: center;
                // justify-content: center;
                width: 34px;
                height: 34px;
                overflow: hidden;
            }
            h1 {
                font-size: 22px;
                font-weight: 500;
                line-height: 22px;
                text-transform: uppercase;
                color: var(--ion-color-secondary-contrast);
            }
        }

        .match-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            h2 {
                font-size: 20px;
                font-weight: 500;
                color: var(--ion-color-869BAF);
                &::first-letter {
                    text-transform: capitalize;
                }
            }
            p {
                font-size: 15px;
                font-weight: 400;
                color: var(--ion-color-secondary-contrast);
                margin: 0;
                display: flex;
                align-items: center;
                gap: 5px;
            }
            a {
                text-decoration: none;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                gap: 5px;
            }
            .icon-img {
                width: 17px;
                height: 17px;
                overflow: hidden;
            }
        }
        .match-players {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-top: 15px;
            .match-player-imgs {
                display: flex;
                align-items: center;
                .player-dp {
                    border-radius: 50%;
                    min-width: 50px;
                    max-width: 50px;
                    height: 50px;
                    overflow: hidden;
                    border: 5px solid var(--ion-color-card-bg);
                    box-sizing: border-box;
                    margin-left: -14px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                .player-dp.show-counter {
                    img {
                        display: none;
                    }
                    font-size: 14px;
                    font-weight: 700;
                    background: rgb(121, 176, 30);
                    background: -moz-linear-gradient(180deg, rgba(121, 176, 30, 1) 0%, rgba(61, 88, 15, 1) 96%);
                    background: -webkit-linear-gradient(180deg, rgba(121, 176, 30, 1) 0%, rgba(61, 88, 15, 1) 96%);
                    background: linear-gradient(180deg, rgba(121, 176, 30, 1) 0%, rgba(61, 88, 15, 1) 96%);
                    color: var(--ion-color-secondary-contrast);
                }
            }
            .player-no-count {
                font-size: 20px;
                font-weight: 500;
                color: var(--ion-color-869BAF);
                text-transform: capitalize;
            }
        }
    }
}

.main-heading {
    font-size: 20px;
    font-weight: 500;
    color: var(--ion-color-secondary-contrast);
    text-transform: capitalize;
    span {
        text-transform: uppercase;
    }
}

.slider-cover {
    margin-top: 20px;
}


.tournaments-slider-section{
    margin-top: 25px;
}