<ion-header class="custom-footer" collapse="fade">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" novalidate class="site-form" style="margin:0">
      <div class="form-group">
        <ion-input type="text" formControlName="name" name="name" placeholder="Name" class="form-control">
        </ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message"
              *ngIf="profileForm.get('name').hasError(validation.type) && (profileForm.get('name').dirty || profileForm.get('name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-group">
        <ion-list lines="none">
          <ion-item lines="none">
            <ion-label>Date Of Birth</ion-label>
            <ion-input formControlName="date_of_birth"
              value="{{ profileForm.get('date_of_birth').value | date: 'dd/MM/yyyy' }}" id="date" class="ion-text-end">
            </ion-input>
            <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime presentation="date" formControlName="date_of_birth"></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-list>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.date_of_birth">
            <div class="error-message"
              *ngIf="profileForm.get('date_of_birth').hasError(validation.type) && (profileForm.get('date_of_birth').dirty || profileForm.get('date_of_birth').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <button type="submit" class="secondary-btn">
        Update Profile
      </button>
    </form>
  </main>
</ion-content>
