<ion-header class="custom-footer" collapse="fade">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons> -->
    <ion-title class="header-text">{{ team.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <div class="registered-team-list">
      <div class="registered-teams" *ngFor="let item of team.team_members">
        <div class="img">
          <img [src]="item.avatar_url" class="img-fluid" alt="">
        </div>
        <div class="w-100">
          <h1>{{ item.name }}</h1>
          <p>{{ item.email }}</p>
        </div>
        <!-- <div type="button" class="add-icon remove-icon">
          <ion-icon name="remove-outline"></ion-icon>
        </div> -->
      </div>
    </div>
  </main>
</ion-content>
