<ion-header class="custom-footer" collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-inner-body">
  <main class="ion-padding-horizontal">
    <p class="credits-class">
      <span>
        <h4>
          <ion-icon name="card"></ion-icon>
          Total Credits in Wallet: $ {{ credits }}
        </h4>
      </span>
    </p>
    <ion-list lines="none" class="tournament-card" *ngFor="let item of teams">
      <!-- <div class="tournament-card"> -->
      <div class="tournament-card-content">
        <div class="game-img">
          <ion-img src="{{item.team_logo_url}}" class="img-fluid"></ion-img>
        </div>
        <div class="card-body">
          <div class="game-info">
            <h1 class="game-title">{{item.name}}</h1>
          </div>

          <div class="t-pricing">
            <p class="tournament-prize">
              <span>
                <ion-icon name="trophy-sharp"></ion-icon>
              </span>
              {{item.ranking}}
            </p>

            <button class="primary-btn get-center" (click)="createLadderRequest(item.id)">
              CHALLENGE
              <span class="get-center">
                <ion-icon name="caret-forward"></ion-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </ion-list>

  </main>
</ion-content>
